body {
    background-color: aquamarine;
}

.query-to-axios {
    /* border-style: none; */
    outline: 5px;
    border-style: solid;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='text'] {
    border-radius: 23px;
    border-color: rgb(214, 10, 58);
}


.submit {
    /* border-style: none; */
    width: 80px;
    margin-top: 50px;
    margin-left: 20px;
    height: 30px;
}

button[type='submit'] {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    color: pink;
    background-color: blue;
    border-radius: 20px;
}

.newsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.article-img {
    display: inline-block;
    width: 400px;
}

.article-description {
    width: 400px;
}

.article-title {
    width: 400px;
}

.article-card {
    /* display: flex; */
    padding: 10px;
    background-color: rgb(222, 232, 245);
    width: 400px;
    border-radius: 20px;
}

.is-hidden {
    display: none;
    pointer-events: none;
    visibility: 1;
}

.gallery {
    margin-top: 10px;
}

.photo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.photo-card img {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    margin-bottom: 10px;
}